<po-page-default p-title="Carrinho">
    <po-container>
        <div class="po-row" style="display: grid;">

            <div *ngFor="let cartProduct of cartItems; index as indexOfelement;">
                <div class="product">
                    <img src="{{cartProduct.image}}" class="product_image">
                    <div class="col-md-3">
                        <select name="selSupplier" id="selSupplier" class="custom-select">
                            <option value="cartProduct.supplier[id].name"
                                *ngFor="let suppliers of cartProduct.supplier; index as id;">
                                {{cartProduct.supplier[id].name}}</option>
                        </select>
                        <!-- <input type="radio" value="teste" name="teste"
                            *ngFor="let suppliers of cartProduct.supplier; index as id;"> -->
                        <!-- <po-radio name="select" p-label="{{cartProduct.id}} - {{cartProduct.supplier[id].name}}"
                            *ngFor="let suppliers of cartProduct.supplier; index as id;"
                            [p-options]="[{label: cartProduct.supplier[id].name , value: cartProduct.supplier[id].name}]">
                        </po-radio> -->
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="numEstagio">Quantidade</label>
                            <div class="input-counter">
                                <span class="minus-btn" (click)="decQuantity(cartProduct.id)"><i
                                        class="po-icon po-icon-arrow-down"></i></span>
                                <input type="text" value="1" readonly name="quantidadeCart_{{cartProduct.id}}"
                                    id="quantidadeCart_{{cartProduct.id}}">
                                <span class="plus-btn" (click)="addQuantity(cartProduct.id)"><i
                                        class="po-icon po-icon-arrow-up"></i></span>
                            </div>

                        </div>
                    </div>
                    <p>{{cartProduct.productName}}</p>
                    <i class="po-icon po-icon-delete delete" id="delete_{{cartProduct.id}}"
                        (click)="delItem(cartProduct.id)"></i>

                </div>
            </div>

        </div>
    </po-container>
    <br>
    <br>
    <div class="po-row">
        <po-button p-label="Finalizar pedido" (p-click)="saveOrder()"> </po-button>
    </div>
</po-page-default>